<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mitchell's CCT</title>
    <link
      rel="icon"
      type="image/png"
      href="https://png.pngtree.com/svg/20170112/guitar_615896.png"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="biography.html">Biography</a></li>
      <li><a href="vidcode.html">Vidcode</a></li>
      <li><a href="survey.html">Survey!</a></li>
      <li><a href="extras.html">Extras</a></li>
    </ul>
  </nav>
  <body style="background-color:#FFFFFF; margin-top:65px;">
    <p id="one" class="bio"><strong>Mitchell Van Der Vechte </strong></p>
    <p id="two" class="bio"><strong>Mr. J. Michalenko </strong></p>
    <p id="three" class="bio"><strong>Computer Science </strong></p>
    <p id="four" class="bio"><strong>04 September 2019 </strong></p>
    <h3 id="five" class="bio"><center>About Me</center></h3>
    <br />
    <div>
      <p
        id="six"
        class="bio"
        ,
        style="border=3px; border-style:solid; border-color=#FFFFFF; padding:1em; background-color:#FF5733"
      >
        My name is Mitchell, I was born at the Collingwood General Marine
        Hospital on November 10th, 2003. I currently live in the Town of the
        Blue Mountains. I have a sister named grace, and my parent’s names are
        Richard and Sandra. We have a dog named Sadie, a rabbit named Presley
        and 9 chickens. Some of my hobbies include playing, building and
        collecting guitars. I own 7 guitars as of now, I own 3 acoustics, 3
        electrics and one electric bass. I also enjoy working on my 1975 Dart
        Sport, working in my workshop and fixing things around the house.
        Recently we have bought a new gas tank, a new seat and a radio for the
        Dart Sport. During the summer we replaced the radiator hoses, the oil
        filter, the gas filter, and were able to get it to idle. Some sports and
        activities that I enjoy are swimming, and fishing. Another club that I
        participate in is the Robotics Club.
      </p>
    </div>
    <br />
    <div>
      <p
        id="seven"
        class="bio"
        ,
        style="border=3px; border-style:solid; border-color=#FFFFFF; padding:1em; background-color:#FF5733"
      >
        Through grade six to grade eight I was in the coding club at St. Marys.
        In the coding club I learned scratch, x code and a little bit of Java.
        In the summer after grade eight I taught myself a bit of HTML while
        using notepad as my editor. I currently own a Raspberry Pi 3 but have
        not begun to teach myself how to code with it yet. I am very interested
        in robotics and computer programming. I also like remote controlled
        vehicles and FPV drones. Last year I competed on the Skills Canada
        robotics team, we had to design and build a robot that would be able to
        shoot foam balls into a net on the feild and a net on the other team’s
        robot. We faced many challenges while building the robot such as how to
        pick the balls up, load them, and how to shoot them fast enough to make
        it across the field.
      </p>
    </div>
    <img src="https://wallpapercave.com/wp/mToeXqq.jpg" width="100%" />
  </body>
  <footer>
    <ul>
      <li>Designed by Mitchell Van Der Vechte</li>
      <li class="fltlft">MitchellV2019™</li>
    </ul>
  </footer>
  <script src="/client.js" defer></script>
</html>
