<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mitchell's CCT</title>
    <link
      rel="icon"
      type="image/png"
      href="https://png.pngtree.com/svg/20170112/guitar_615896.png"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="biography.html">Biography</a></li>
        <li><a href="bootstrap.html">Bootstrap</a></li>
        <li><a href="about-me.html">Vidcode</a></li>
        <li><a href="survey.html">Survey!</a></li>
      </ul>
    </nav>
  </body>
   <script src="/client.js" defer></script>
</html>
