<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mitchell's CCT</title>
    <link
      rel="icon"
      type="image/png"
      href="https://png.pngtree.com/svg/20170112/guitar_615896.png"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="biography.html">Biography</a></li>
      <li><a href="vidcode.html">Vidcode</a></li>
      <li><a href="survey.html">Survey!</a></li>
      <li><a href="extras.html">Extras</a></li>
    </ul>
  </nav>
  <body>
    <div class="jumbotron" style="background-color: transparent">
      <body
        style="background-image: url('https://i.pinimg.com/originals/04/eb/ef/04ebeff050adeea2d51630cae0c967e9.jpg')"
        ;
      >
        <h1 id="welcome">
          <center>
            Welcome
          </center>
        </h1>
      </body>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2846.2657138651584!2d-80.20891068447493!3d44.48922197910155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882a7bebcb254bf3%3A0x1423ea0e81eb7f0a!2sJean%20Vanier%20Catholic%20High%20School!5e0!3m2!1sen!2sca!4v1576854027799!5m2!1sen!2sca"
            width="100%"
            height="350px"
            frameborder="0"
            style="border:0;"
            allowfullscreen=""
          >
          </iframe>
        </div>
        <div class="col-sm-6">
          <iframe
            width="100%"
            height="350px"
            src="https://www.youtube.com/embed/UB1O30fR-EE"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <img
        src="https://cdn.glitch.com/35b922ff-e82b-4fea-81a7-a3277bba5041%2FAnnotation%202020-01-15%20172540.png?v=1579127175871"
        id="gitpic"
      />
      <box id="git">
        <center>
          <a id="gitlink" href="https://github.com/446980/cct/releases/tag/v1.3"
            >Click me for Github Repository</a
          >
        </center>
      </box>
      <div>
        <a
          class="weatherwidget-io"
          href="https://forecast7.com/en/44d50n80d22/collingwood/"
          data-label_1="COLLINGWOOD"
          data-label_2="WEATHER"
          data-font="Play"
          data-icons="Climacons Animated"
          data-theme="blue-mountains"
          >COLLINGWOOD WEATHER</a
        >
      </div>
      <script>
        !(function(d, s, id) {
          var js,
            fjs = d.getElementsByTagName(s)[0];
          if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = "https://weatherwidget.io/js/widget.min.js";
            fjs.parentNode.insertBefore(js, fjs);
          }
        })(document, "script", "weatherwidget-io-js");
      </script>
    </div>
    <footer>
      <ul>
        <li>Designed by Mitchell V.</li>
        <li class="fltlft">MV2020™</li>
      </ul>
    </footer>
  </body>
  <script src="/client.js" defer></script>
</html>
