<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html
  lang="en"
  style="background-image: url('https://i.pinimg.com/originals/04/eb/ef/04ebeff050adeea2d51630cae0c967e9.jpg')"
  ;
>
  <head>
    <title>Mitchell's Biography</title>
    <link
      rel="icon"
      type="image/png"
      href="https://png.pngtree.com/svg/20170112/guitar_615896.png"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <header>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="biography.html">Biography</a></li>
        <li><a href="bootstrap.html">Bootstrap</a></li>
        <li><a href="about-me.html">Vidcode</a></li>
        <li><a href="survey.html">Survey!</a></li>
      </ul>
    </nav>
    <body></body>
  </header>

  <section>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2846.2657138651584!2d-80.20891068447493!3d44.48922197910155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882a7bebcb254bf3%3A0x1423ea0e81eb7f0a!2sJean%20Vanier%20Catholic%20High%20School!5e0!3m2!1sen!2sca!4v1576854027799!5m2!1sen!2sca" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  <br>
   <iframe width="560" height="315" src="https://www.youtube.com/embed/UB1O30fR-EE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  </section>
  <footer>
    <ul>
      <li>Designed by Mitchell Van Der Vechte</li>
      <li>MitchellV2019™</li>
    </ul>
  </footer>
  <script src="/script.js" defer></script>
</html>
