<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mitchell's CCT</title>
    <link
      rel="icon"
      type="image/png"
      href="https://png.pngtree.com/svg/20170112/guitar_615896.png"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <header>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="biography.html">Biography</a></li>
        <li><a href="bootstrap.html">Bootstrap</a></li>
        <li><a href="vidcode.html">Vidcode</a></li>
        <li><a href="survey.html">Survey!</a></li>
        <li class="fltlft"><a href="log-in.html">Log In</a></li>
      </ul>
    </nav>
  </header>
  <body style="background-color: #FFFFFF; margin-top: 55px;">
    <div>
      <h2>
        Hello, please complete this survey to let us know how your experience
        was today.
      </h2>
    </div>
    <form action="/html-forms" method="post" style="background-color: #E7E7E7">
      <div>
        <label
          >First Name: <input type="text" placeholder="John" required
        /></label>
        <label
          >Last Name: <input type="text" placeholder="Smith" required
        /></label>
      </div>
      <div>
        <label>Male <input type="radio"/></label>
        <label>Female <input type="radio"/></label>
        <label>Other <input type="radio"/></label>
      </div>
      <div>
        <label
          >Email: <input type="email" placeholder="your email" required
        /></label>
      </div>
      <div>
        <label for="select-choice">Birthday:</label>
        <select>
          <option value="">Month</option>
          <option value="">January</option>
          <option value="">Febuary</option>
          <option value="">March</option>
          <option value="">April</option>
          <option value="">May</option>
          <option value="">June</option>
          <option value="">July</option>
          <option value="">August</option>
          <option value="">September</option>
          <option value="">October</option>
          <option value="">November</option>
          <option value="">December</option>
          <option value="">January</option>
        </select>
        <select id="select-choice">
          <option value="">Day</option>
          <option value="">01</option>
          <option value="">02</option>
          <option value="">03</option>
          <option value="">04</option>
          <option value="">05</option>
          <option value="">06</option>
          <option value="">07</option>
          <option value="">08</option>
          <option value="">09</option>
          <option value="">10</option>
          <option value="">11</option>
          <option value="">12</option>
          <option value="">13</option>
          <option value="">14</option>
          <option value="">15</option>
          <option value="">16</option>
          <option value="">17</option>
          <option value="">18</option>
          <option value="">19</option>
          <option value="">20</option>
          <option value="">21</option>
          <option value="">22</option>
          <option value="">23</option>
          <option value="">24</option>
          <option value="">25</option>
          <option value="">26</option>
          <option value="">27</option>
          <option value="">28</option>
          <option value="">29</option>
          <option value="">30</option>
          <option value="">31</option>
        </select>
        <select>
          <option value="">Year</option>
          <option value="">2019</option>
          <option value="">2018</option>
          <option value="">2017</option>
          <option value="">2016</option>
          <option value="">2015</option>
          <option value="">2014</option>
          <option value="">2013</option>
          <option value="">2012</option>
          <option value="">2011</option>
          <option value="">2010</option>
          <option value="">2009</option>
          <option value="">2008</option>
          <option value="">2007</option>
          <option value="">2006</option>
          <option value="">2005</option>
          <option value="">2004</option>
          <option value="">2003</option>
          <option value="">2002</option>
          <option value="">2001</option>
          <option value="">2000</option>
          <option value="">1999</option>
        </select>
      </div>
      <div>
        <label
          ><a href="terms-and-conditions.html"
            >I agree to the terms and conditions</a
          ><input type="checkbox"
        /></label>
      </div>
      <div>
        <button onclick="alert1();">
          <a href="index.html">Submit</a>
        </button>
      </div>
    </form>
  </body>

  <script src="/client.js" defer></script>
</html>
