html {
  font-family: "Benton Sans", "Helvetica Neue", "helvetica, arial", sans-serif;
}

/* navbar styling-----------------------------------------------------------------------------------------------------------------*/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #171717;
  opacity: 0.6;
  display: inline-block;
  width: 100%;
  height: 45x;
  position: fixed;
  top: 0;
  z-index: 10;
}
nav ul:hover {
  opacity: 1;
}

nav li {
  position: relative;
  float: left;
}

li a {
  text-decoration: none;
  color: #EBEBD3;
  display: inline-block;
  padding: 14px 20px;
  text-align: center;
}

section div {
  float: right;
}

nav ul li a:hover {
  background-color: #5FCB14;
  opacity: 1;
  transition: 0.35s;
  text-decoration: none;
}

/*-----------------------------------------Scrollbar-Styling------------------------------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #171717;
}

::-webkit-scrollbar-thumb {
  background: #5FCB14;
}

::-webkit-scrollbar-thumb:hover {
  background: #5FCB14;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #211A1D;
  display: inline-block;
  width: 100%;
  height: 30px;
}
footer li {
  float: left;
  text-decoration: none;
  color: #EBEBD3;
  display: inline-block;
  padding: 5px 5px;
  text-align: center;
}

.fltlft {
  float: right;
}

.bio {
  margin-left: 20px;
  margin-right: 20px;
}

#container {
  posistion: relative;
  text-align: center;
}

#gitpic {
  height: 100%;
  width: 100%;
}

#git a {
  color: #FFF;
  font-size: 20px;
  padding-right: 39.7%;
  padding-left: 39.7%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #171717;
  border: none;
}

#gitlink {
  text-decoration: none;
  color: #FFF;
}
